body{
  font-family: 'Open Sans', sans-serif;
}
.banner-container{
  background-color: #CACACA;
  
}
.banner-column{
  background-color: #8D8D8D;
  
}
.navbar-container{
  top: 0;
  background-color: #262B37;
  position: sticky;
  z-index: 2;
}

.about-container{
  background-color: #00BDBD;
}
.education-container{
  background-color: #EEEEEE;
}
.bg-redtype{
  background-color: #FB857F;
}

.redtype-color{
  color: #FB857F;
}

.circle{
  background-color: #FB857F;
  height: 150px;
  width: 150px;
  border-radius: 50%; 
}

.project-container{
  background-color: #2BB3DD;
}

.form-container{
  background-color: #474D5D;
}
.inner-form{
  background-color: #585F73;
}
.bg-redtype:hover{
  color: black!important;
  background-color: #FB857F;
}

.footer{
  background-color: #2BB3DD;
}

.circle1{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  font-size: 40px;
  text-align: center;
  color: #2BB3DD;
}
.circle1:hover{
  background-color: #474D5D;
}

.gallery-container{
  background-color: cadetblue;
}